.main-container{
    margin-bottom: 200px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
    width:80%;
    margin: 0 auto;

}

@media screen and (max-width: 576px) {
    .container{
        display: grid;
        grid-template-columns:1fr;
        gap:30px;
        width:80%;
        margin: 0 auto;
        
    }
}