.navbar{
    display: flex;
    justify-content: space-around;
    margin: 17px 0;
}

nav a{
    margin-left: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar span{
    font-weight: bold;
    font-size: 33px;
    margin: -14px;
}