.questionAndOption{
    margin:20px auto;
    border:1px solid rgba(168, 49, 28, 0.062);
    width:60%;
    height:50%;
}
.qustion-and-icon{
    display: flex;
    background-color: rgb(155, 110, 56);
    border-radius:5px;
}
.singleOptions{
    display:block;
    width: 53%;
    margin:10px auto;
    border:1px solid black;   
}
 h3{
    background-color: rgb(155, 110, 56);
    color:white;
    padding: 10px 20px;
 }
.questionAndOption:hover{
    border:2px solid black;
    border-radius: 10px;
}
 
/* input{
    font-size: 30px;
    border:7px solid black;
} */

@media screen and (max-width:576px) {
    .singleOptions{
        width:100%;
    }
    
}