.blog{
    display: grid;
    grid-template-columns: 1fr;
}
.blog div{
    width: 70%;
    margin: 30px auto;
    border:1px solid groove;
}
.blog .blog-header{
    font-size: 26px;
    margin: 5px 0;
    font-weight: 700;
}